fastapi
uvicorn[standard]
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-dotenv
pydantic-settings
tensorflow
pillow
openai
langchain
langchain-community
psycopg2-binary
langchain-google-genai
langchain-huggingface        
google-genai
chromadb
sentence-transformers
pypdf
tiktoken
reportlab
langchain-classic
langchain-chroma